gym==0.26.2
gym-notices==0.0.8
gymnasium==0.28.1
gymnasium-notices==0.0.1
tabulate==0.9.0
dm-tree==0.1.8
scikit-image==0.20.0
lz4==4.3.2
dm-sonnet==1.23
numpy==1.23.2
pandas==1.5.3
matplotlib==3.6.3
psutil==5.9.5
gputil==1.4.0
